body {
  background-color: rgba(0, 0, 0, 0.89);
  color:white;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  /* font-family: 'Work Sans', sans-serif; */
  font-size: 1.5em;
}
head{
  float: left;
}

.resume{
  font-family: 'Courier New', Courier, monospace;
  border: rgb(255, 255, 255);
  border-radius: 3px;
  border-style: solid;
  color: rgb(0, 110, 255);

  margin-left: 80%;
}

.git{
  margin-left: 40px;
  margin-right: 40px;
  border: rgb(0, 255, 55);
  border-radius: 3px;
  border-style: solid;
}
#head2{
  color: rgb(17, 0, 255);
  font-size: 20px;
  margin-left: 25%;
}

#head3{
  color: rgb(30, 255, 0);
  font-size: 20px;
  margin-left: 25%;
}
.Linked{
  border: rgb(0, 4, 255);
  border-radius: 3px;
  border-style: solid;
}
.float-left-child {
  float: left;
}

.college{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

}
#col{
  width: 40%;
  margin-left: 15px;
  text-align: left;
  color: aliceblue;
  font-size: 15px;
}

.sorter{
  margin-left: 40px;
  border: rgb(251, 255, 0);
  border-radius: 3px;
  border-style: solid;
}
#school{
  width: 30%;
  height: 20%;
}
#line{
  width: 100%;
  color: blue;
  height: 10px;
}

.proj{
  color: #fffb00;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  text-align: center;
}

img{
  margin-left: 100px;
  width: 5%;
  height: 5%;
  margin-bottom: 0px;
  margin-left: 2%;
}

p{
  margin-top: 0px;
  align-items: center;
  text-align: center;
  font-size: 50px;
}

.contact{
  text-align: center;
  font-size: 15px;
  /* text-shadow: 7px 7px 7px #fffb00; */

}

.about1{
  margin-top: 40px;
  font-size: 25px;
  /* text-shadow: 7px 7px 7px #fffb00; */

}
.ab{
  align-items: center;
  display: flex;
  justify-content: center;
}
#demo{
  text-align: center;
  color: white;
  font-size: 15px;
  width: 60%;
}